<?xml version="1.0" encoding="UTF-8"?>
<!-- @author <a href="https://github.com/sjxm0721">四季夏目</a> -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjxm.springbootinit.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.sjxm.springbootinit.model.entity.User">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="unionId" column="union_id" jdbcType="VARCHAR"/>
        <result property="mpOpenId" column="mp_open_id" jdbcType="VARCHAR"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="userAvatar" column="user_avatar" jdbcType="VARCHAR"/>
        <result property="userProfile" column="user_profile" jdbcType="VARCHAR"/>
        <result property="userRole" column="user_role" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="className" column="class_name" jdbcType="VARCHAR"/>
        <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="checkAble" column="check_able" jdbcType="TINYINT"/>
        <result property="uploadAble" column="upload_able" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,unionId,mpOpenId,
        userName,userAvatar,userProfile,
        userRole,createTime,updateTime,isDelete
    </sql>
</mapper>
